body{
	margin: auto;
	background-color: #E6E6E6;
	font-family: Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
}

#container{
	text-align: justify;
	width: 60%;
	margin: auto;
	background-color: white;
}

header{
	margin-top: 0%;
	margin-bottom: 15%;
	margin-left: 20%;
	margin-right: 20%;
}

nav{
	background: transparent;
	position: relative;
    top: 70px;
}

nav li ul{
	display: none; /*Això farà que no es vegi la part desplegable*/
	margin: 0;
	padding: 0; /*Juntament amb el margin fan que surti enganxat i no flotant a qualsevol lloc*/
	height: auto;
}

nav li:hover ul{
	display: block; /*Amb el hover (indica que està a sobre) es mostrarà el desplegable*/
}

nav ul{
	display: inline; /*El menú en una mateixa línia*/
}

nav li{
	list-style: none; /*No hi haurà ni bullets, ni fletxes ni res per mostrar que és una llista*/
	margin: 0;
	padding: 0;
	text-align: center;
	float: left;
}

nav a{
	display: block;
	text-align: center;
	text-decoration: none; /*El text ja no es mostra com un link qualsevol*/
	color: white;
	padding: 8px;
	border: 1px outset white;
	background-color: #6699FF;
}

nav a:hover{
	background-color: #99CCFF; /*Quan el cursor estigui a sobre, agafa una tonalitat més clara*/
}

nav li ul li{
	float: none;
}


#logo{
	float:left;
	width: 20%;
	padding: 3%;
}

#user_buttons{
	padding-left: 0%;
	float: left;
}

#login {
	display: table-row;
	width: 100%;
}

#signup{
	display: table-row;
	width: 100%;
}

#cart_login_section{
	float: left;
}

#search{
	float: left;
	padding: 8px;
	width: 75%;
	border: 2px solid white;
}
#search_button{
	left: -60px;
	position: relative;
	color: white;
	background-color:#6699FF;
	border:2px solid #6699FF;
	height: 35px;
}

#search_button:hover {
	background-color: #99CCFF;
	border: 2px solid #99CCFF;
}

#carrito{
	padding-top: 8px;
}

#fi_header{
	float: right;
	width: 20%;
	margin-top: 3%;
}

#footer{
	background-color: #003366;
}


#footer p{
	margin:0;
	position: relative;
	top:40px;
}

#footer_content{
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	height: 100px;
	color: white;
}

#products_grid{
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

#products_grid td{
	border: 1px solid black;
}

#product_intro{
	background-color: #3399FF;
	padding: 8px;
	border-radius: 10px;
}

#rig{
	list-style: none;
	font-size: 0;
}

#rig li{
	display: inline-block;
	margin: 0.5%;
	padding: 10px;
	background: white;
	border:2px solid #6699FF;
	font-size: 16px;
	border-radius: 10px;
	width: 220px;
	text-align: center;
}

#rig li:hover{
	background-color: #6699FF;
}

#rig li img{
	width: 150px;
	height: 150px;
	margin: 0 0 8px;
}

#rig li p{
	text-align: center;
}

.noDisponible{
	text-align: center;
	font-style: italic;
	color: grey;
	background-color: #FFFF99;
	padding: 8px;
	margin-right: 20%;
	margin-left: 20%;
}

#home_banner{
	border:1px solid grey;
	width: 100%;
	margin-bottom: 20px;
}

